header {
  background-color: #c4661f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 150px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}
.headerIMG {
  border: 2px solid black;
  display: flex;
  height: 125px;
}

.slogan {
  color: #000019;
  font-weight: bold;
  font-size: 30px;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}
.headbutton {
  background-color: #a5531c;
  border: 3px solid black;
  border-radius: 10%;
}

main{

  
}

.sections {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#info {
  border: 2px solid black;
  width: 100%;
  height: 400px;
}
#booking {
  border: 2px solid black;
  width: 100%;
  height: 400px;
}
#contact {
  border: 2px solid black;
  width: 100%;
  height: 400px;
}

footer {
  background-color: #c4661f;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  height: 100px;
  padding: 10px;
}
.github_link {
  bottom: 10px;
  width: 100px;
  height: 100px;
}
.github_link img {
  width: 100%;
  height: 100%;
  transition: opacity 0.3s;
}
.github_link :hover {
  opacity: 0.7s;
}
